1-Programming_Refresher/project/02-Task_Manager/README.pdf
1-Programming_Refresher/project/02-Task_Manager/ivy.csv
1-Programming_Refresher/project/02-Task_Manager/login.csv
1-Programming_Refresher/project/02-Task_Manager/test.py
2-SQL/1-EmployeePerformance/EmpPerformance_norm_table_sql.pdf
2-SQL/1-EmployeePerformance/EmpPerformance_norm_table_sql.txt
2-SQL/1-EmployeePerformance/EmpPerformance_query_sql.pdf
2-SQL/1-EmployeePerformance/EmpPerformance_query_sql.txt
2-SQL/1-EmployeePerformance/Emp_performance_query_output.pdf